@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(./assets/fonts/Manrope-SemiBold.ttf) format('opentype');
}

body {
    margin: 0;
    font-family: "Manrope";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  